<div fxLayout="column" class="container">
	<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
		<mat-button-toggle-group vertical="false">
			<mat-button-toggle (change)="asManager()">
				Supervisor
			</mat-button-toggle>
			<mat-button-toggle (change)="asSecondLevelManager()">
				Second Level Supervisor
			</mat-button-toggle>
			<mat-button-toggle (change)="asHr()">
				Human Resource
			</mat-button-toggle>
		</mat-button-toggle-group>
	</div>
</div>
<router-outlet></router-outlet>
