<div
	class="container"
	fxLayout="column"
	fxLayoutAlign="center"
	fxLayoutGap="16px"
>
	<div class="mat-elevation-z2 sub-container" fxFlex>
		<form
			(ngSubmit)="addMailGroup(mailGroupForm)"
			#mailGroupForm="ngForm"
			[formGroup]="mailingListFormGroup"
		>
			<h1>New Email Distribution Group</h1>
			<div fxLayout="column">
				<mat-form-field fxFlex>
					<mat-label>Name</mat-label>
					<input matInput formControlName="groupName" type="text" />
					<mat-error
						*ngIf="(f.groupName.invalid && f.groupName.dirty && f.groupName.touched)"
						>{{getNameErrMsg()}}</mat-error
					>
				</mat-form-field>

				<mat-form-field fxFlex>
					<mat-label>Email</mat-label>
					<input matInput formControlName="groupEmail" type="text" />
					<mat-error
						*ngIf="f.groupEmail.invalid && f.groupEmail.dirty && f.groupEmail.touched"
						>{{getEmailErrMsg()}}</mat-error
					>
				</mat-form-field>

				<mat-form-field fxFlex>
					<mat-label>Description</mat-label>
					<input matInput formControlName="groupDescription" type="text" />
					<mat-error
						*ngIf="f.groupDescription.invalid && f.groupDescription.dirty && f.groupDescription.touched"
						>{{getDescriptionErrMsg()}}</mat-error
					>
				</mat-form-field>
			</div>
			<button mat-button color="primary" type="submit">Submit</button>
		</form>
	</div>
</div>
