.container,
.sub-container {
	padding: 16px;
	border-radius: 5px;
}

button.mat-list-item {
	border-radius: 4px;
}

.clicked-row {
	background-color: green;
	color: white;
}

.sub-container > div {
	border-style: solid;
	border-radius: 6px;
	border-color: rgba(211, 211, 211, 0.267);
}

.sub-header {
	color: rgba(0, 0, 0, 0.54);
	font-weight: 500;
}
