<h2 matDialogTitle>Error</h2>

<mat-dialog-content>
	{{data.message}}
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-button color="accent" matDialogClose>Close</button>
</mat-dialog-actions>
