<div class="container">
	<div fxLayout="row" fxLayoutAlign="center center">
		<div
			fxFlex.gt-sm="800px"
			fxLayout="column"
			fxLayoutGap="16px"
			class="mat-elevation-z2"
			style="border-radius: 6px; padding: 16px;"
			fxLayoutAlign="center center"
		>
			<h2 fxFlexAlign="start">{{header}}</h2>

			<div>
				<mat-form-field>
					<mat-label> {{searchTextLabel}} </mat-label>
					<input
						matInput
						[formControl]="searchText"
						[matAutocomplete]="matAuto"
						[placeholder]="searchTextLabel"
						type="search"
					/>

					<mat-autocomplete
						#matAuto="matAutocomplete"
						panelWidth='auto'
						[displayWith]="displayResource"
					>
						<span [ngSwitch]="routeId">
							<div *ngSwitchCase="'department'">
								<mat-option *ngFor="let option of options" [value]="option">
									{{option.departmentName}}
								</mat-option>
							</div>
							<div *ngSwitchCase="'office'">
								<mat-option *ngFor="let option of options" [value]="option">
									{{option.officeName}}
								</mat-option>
							</div>
							<div *ngSwitchCase="'project'">
								<mat-option *ngFor="let option of options" [value]="option">
									{{option.projectName}}
								</mat-option>
							</div>
							<div *ngSwitchCase="'position'">
								<mat-option *ngFor="let option of options" [value]="option">
									{{option.positionName}}
								</mat-option>
							</div>
						</span>
					</mat-autocomplete>
				</mat-form-field>
				<button mat-icon-button (click)="selectedOption(matAuto)">
					<mat-icon>search</mat-icon>
				</button>
			</div>

			<div fxFlexAlign="stretch">
				<form
					[formGroup]="resourceForm"
					#tempForm="ngForm"
					(ngSubmit)="onSubmit(tempForm)"
				>
					<span fxLayout="row" [ngSwitch]="routeId">
						<mat-form-field fxFill *ngSwitchCase="'department'">
							<mat-label>{{inputLabel}} </mat-label>
							<input
								formControlName="departmentName"
								matInput
								[placeholder]="inputLabel"
								type="text"
							/>
						</mat-form-field>
						<mat-form-field fxFill *ngSwitchCase="'office'">
							<mat-label>{{inputLabel}} </mat-label>
							<input
								formControlName="officeName"
								matInput
								[placeholder]="inputLabel"
								type="text"
							/>
						</mat-form-field>
						<mat-form-field fxFill *ngSwitchCase="'position'">
							<mat-label>{{inputLabel}} </mat-label>
							<input
								formControlName="positionName"
								matInput
								[placeholder]="inputLabel"
								type="text"
							/>
						</mat-form-field>
						<mat-form-field fxFill *ngSwitchCase="'project'">
							<mat-label>{{inputLabel}} </mat-label>
							<input
								formControlName="projectName"
								matInput
								[placeholder]="inputLabel"
								type="text"
							/>
						</mat-form-field>
					</span>
					<button fxLayoutAlign="start" mat-button type="submit">Save</button>
				</form>
			</div>
		</div>
	</div>
</div>
