
.container,
.sub-container {
	padding: 16px;
	border-radius: 4px;
}
.container{
	margin-top: 0.5rem;
}

.sub-container > div {
	border-style: solid;
	border-radius: 4px;
	border-color: rgba(211, 211, 211, 0.267);
	padding: 16px;
	margin-top: 8px;
}

button.mat-list-item{
	border-radius: 4px;
}