<div class="container">
	<mat-accordion displayMode="default" [hideToggle]="false">
		<mat-expansion-panel [expanded]="toggleExpansion" hideToggle="false">
			<mat-expansion-panel-header *ngIf="(pipEmployee | async) as emp">
				Employee Details: &nbsp;
				<strong> {{emp.firstName}} {{emp.lastName}} </strong>
			</mat-expansion-panel-header>
			<form [formGroup]="employeeForm">
				<!-- Name Section -->
				<h3>
					Personal Details
				</h3>

				<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
					<mat-form-field fxFlex>
						<mat-label>First Name</mat-label>
						<input
							matInput
							placeholder="First name"
							formControlName="firstName"
						/>
					</mat-form-field>
					<mat-form-field fxFlex>
						<mat-label>Last Name</mat-label>
						<input
							matInput
							placeholder="Last name"
							formControlName="lastName"
						/>
					</mat-form-field>
				</div>

				<!-- Personal Details -->
				<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
					<mat-form-field fxFlex>
						<mat-label>Sex</mat-label>
						<mat-select formControlName="sex">
							<mat-option *ngFor="let sex of sexes" [value]="sex">
								{{sex}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field fxFlex>
						<mat-label>Date of birth</mat-label>
						<input
							matInput
							[matDatepicker]="dob"
							placeholder="Date of birth"
							formControlName="dateOfBirth"
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="dob"
						></mat-datepicker-toggle>
						<mat-datepicker #dob></mat-datepicker>
					</mat-form-field>
					<mat-form-field fxFlex>
						<mat-label>Email</mat-label>
						<input matInput placeholder="Email" formControlName="email" />
					</mat-form-field>
					<mat-form-field fxFlex>
						<mat-label>Associate ID</mat-label>
						<input
							matInput
							placeholder="Associate ID"
							formControlName="associateId"
						/>
					</mat-form-field>
				</div>

				<!-- Contract Section -->
				<h3 class="spacer">Contract Details</h3>

				<div formGroupName="contract" fxLayout="column">
					<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
						<mat-form-field fxFlex>
							<mat-label>Position</mat-label>
							<input
								type="text"
								matInput
								placeholder="Position"
								formControlName="position"
							/>
						</mat-form-field>

						<mat-form-field fxFlex>
							<mat-label>Office</mat-label>
							<input
								type="text"
								matInput
								placeholder="Office"
								formControlName="office"
							/>
						</mat-form-field>

						<mat-form-field fxFlex>
							<mat-label>Department</mat-label>
							<input
								type="text"
								matInput
								placeholder="Department"
								formControlName="department"
							/>
						</mat-form-field>
					</div>

					<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
						<mat-form-field fxFlex="66%">
							<mat-date-range-input [rangePicker]="picker">
								<input
									matStartDate
									placeholder="Contract Start Date"
									formControlName="startDate"
								/>
								<input
									matEndDate
									placeholder="Contract End Date"
									formControlName="endDate"
								/>
							</mat-date-range-input>
							<mat-datepicker-toggle
								matSuffix
								[for]="picker"
							></mat-datepicker-toggle>

							<mat-date-range-picker #picker></mat-date-range-picker>
						</mat-form-field>

						<mat-form-field fxFlex>
							<mat-label>Status</mat-label>
							<mat-select formControlName="status">
								<mat-option *ngFor="let status of statuses" [value]="status">
									{{status}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</form>
		</mat-expansion-panel>

		<mat-expansion-panel hideToggle="false">
			<mat-expansion-panel-header
				>Performance Improvement Plan
			</mat-expansion-panel-header>
			<form
				#pipTemplateForm="ngForm"
				(ngSubmit)="onSubmit(pipTemplateForm)"
				[formGroup]="pipForm"
			>
				<div fxLayout="column">
					<mat-form-field fxFlex="100%">
						<mat-label
							[style]="(pipTemplateForm.submitted && !pipForm.getRawValue().pipStartDate)? 'color:red':'primary'"
							>PIP duration
							<span
								*ngIf="(pipTemplateForm.submitted && !pipForm.getRawValue().pipStartDate)"
								>is required</span
							></mat-label
						>
						<mat-date-range-input [rangePicker]="pipPicker">
							<input matStartDate formControlName="pipStartDate" />
							<input matEndDate formControlName="pipEndDate" />
						</mat-date-range-input>
						<mat-datepicker-toggle
							matSuffix
							disabled="false"
							[for]="pipPicker"
						></mat-datepicker-toggle>

						<mat-date-range-picker
							disabled="false"
							#pipPicker
						></mat-date-range-picker>
					</mat-form-field>

					<mat-label>Progress</mat-label>
					<mat-slider
						thumbLabel
						formControlName="progress"
						[displayWith]="formartSliderLabel"
						min="0"
						max="100"
						step="1"
						aria-label="percent"
					></mat-slider>

					<!-- <mat-form-field>
						<mat-label>Comments</mat-label>
						<textarea matInput formControlName="comments"></textarea>
						<mat-error
							*ngIf="(pipControls.comments.dirty && pipControls.comments.touched)"
						>
							Please submit at least one comment about this PIP
						</mat-error>
					</mat-form-field> -->

					<mat-form-field>
						<mat-label>Manager Comments</mat-label>
						<textarea matInput formControlName="pipComments"></textarea>
						<mat-error
							*ngIf="(pipControls.pipComments.dirty && pipControls.pipComments.touched)"
						>
							Please submit at least one comment about this PIP
						</mat-error>
					</mat-form-field>

					<mat-form-field>
						<mat-label>2nd Level Manager Comments</mat-label>
						<textarea
							matInput
							formControlName="pipSecondLevelManagerComments"
						></textarea>
						<mat-error
							*ngIf="(pipControls.pipSecondLevelManagerComments.dirty && pipControls.pipSecondLevelManagerComments.touched)"
						>
							Please submit at least one comment about this PIP
						</mat-error>
					</mat-form-field>

					<mat-form-field>
						<mat-label>Hr Comments</mat-label>
						<textarea matInput formControlName="pipHrComments"></textarea>
						<mat-error
							*ngIf="(pipControls.pipHrComments.dirty && pipControls.pipHrComments.touched)"
						>
							Please submit at least one comment about this PIP
						</mat-error>
					</mat-form-field>

					<div class="sub-container" formArrayName="priorities">
						<h4 class="spacer">Priorities</h4>
						<button
							[disabled]="pipControls.progress.disabled"
							mat-button
							type="button"
							color="primary"
							(click)="addPriority()"
						>
							+ Priority
						</button>

						<div *ngFor="let priority of priorities.controls; let i = index">
							<div [formGroupName]="i">
								<div fxLayout="row">
									<mat-form-field fxFlex>
										<mat-label> Priority Name</mat-label>
										<input
											matInput
											placeholder="Priority Name"
											formControlName="priorityName"
										/>
									</mat-form-field>

									<button
										[disabled]="pipControls.progress.disabled"
										mat-button
										type="button"
										color="warn"
										(click)="removePriority(i)"
									>
										- Priority
									</button>
								</div>
								<div style="padding-right: 80px;" fxLayout="column">
									<mat-form-field fxFlex>
										<mat-label>Status</mat-label>
										<input
											matInput
											placeholder="Status"
											formControlName="priorityStatus"
										/>
									</mat-form-field>

									<mat-form-field fxFlex="100%">
										<mat-date-range-input [rangePicker]="picker">
											<input
												matStartDate
												placeholder="Priority Start Date"
												formControlName="priorityStartDate"
											/>
											<input
												matEndDate
												placeholder="Priority End Date"
												formControlName="priorityEndDate"
											/>
										</mat-date-range-input>
										<mat-datepicker-toggle
											matSuffix
											[for]="picker"
										></mat-datepicker-toggle>

										<mat-date-range-picker
											[disabled]="pipControls.progress.disabled"
											#picker
										></mat-date-range-picker>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<button mat-button type="submit">
						Submit
					</button>
				</div>
			</form>
		</mat-expansion-panel>
	</mat-accordion>
</div>
