/* For use in src/lib/core/theming/_palette.scss */

@use '~@angular/material' as mat;

@include mat.core();

$md-egpaf: (
    50 : #e9f1ef,
    100 : #c7dcd7,
    200 : #a2c4bd,
    300 : #7daca3,
    400 : #619b8f,
    500 : #45897b,
    600 : #3e8173,
    700 : #367668,
    800 : #2e6c5e,
    900 : #1f594b,
    A100 : #9affe5,
    A200 : #67ffd8,
    A400 : #34ffcb,
    A700 : #1affc5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-egpaf2: (
    50 : #fef6e3,
    100 : #fde9ba,
    200 : #fcdb8c,
    300 : #facd5e,
    400 : #f9c23c,
    500 : #f8b719,
    600 : #f7b016,
    700 : #f6a712,
    800 : #f59f0e,
    900 : #f39008,
    A100 : #ffffff,
    A200 : #fff4e8,
    A400 : #ffddb5,
    A700 : #ffd19c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-primary: mat.define-palette($md-egpaf, 500);
$md-accent: mat.define-palette($md-egpaf2, 400, 500, 600);

$my-custom-typography: mat.define-typography-level(
  $font-family:Roboto,
  $font-weight:400,
  $font-size:1rem,
  $line-height:1,
  $letter-spacing:normal,
);

$my-theme: mat.define-light-theme((
  color:(
    primary:$md-primary,
    accent:$md-accent
  ),
  typography: $my-custom-typography,
));

@include mat.core-theme($my-theme);


@include mat.all-component-themes($my-theme);
