/* You can add global styles to this file, and also import other style files */

html,
body {
	height: calc(100% - 6rem);
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	/* background-color: #45897b; */
}
.container{
	margin-top: 5rem;
}