.spacer {
	flex: 1 1 auto;
}
mat-toolbar {
	top: 0;
	position: fixed;
	z-index: 2;
	right: 0;
	left: 0;
}

.active-button {
	background-color: #1f594b;
	color: white;
}

.mat-button{
	border-radius: 0% !important;
}