<mat-toolbar color="primary" class="mat-elevation-z2">
	<a
		mat-button
		routerLinkActive="active-button"
		[routerLink]="['/home/dashboard/viz']"
	>
		Dashboard
	</a>
	<a
		mat-button
		routerLinkActive="active-button"
		[routerLink]="['/home/hr-actions']"
	>
		HR Admin
	</a>

	<a
		mat-button
		routerLinkActive="active-button"
		[routerLink]="['/home/dashboard/table']"
		>Data Table</a
	>
	<a
		mat-button
		routerLinkActive="active-button"
		[routerLink]="['/home/it-actions']"
		>IT Management</a
	>
	<a
		mat-button
		style="border-radius: 0px !important"
		routerLinkActive="active-button"
		[routerLink]="['/home/pip-mngmt']"
		>PIP Management</a
	>

	<span class="spacer"></span>
	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon>menu</mat-icon>
	</button>

	<mat-menu yPosition="below" xPosition="before" #menu="matMenu">
		<button mat-menu-item (click)="manageEmployee()">Manage</button>
		<button mat-menu-item #tabulateBtn (click)="tabulate()">Data Table</button>
		<button mat-menu-item (click)="logout()">Logout</button>
	</mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
