<div class="container">
	<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
		<mat-button-toggle-group vertical="false">
			<mat-button-toggle (change)="newEmployeeMailingList()">
				Assign Mailing List
			</mat-button-toggle>
			<mat-button-toggle (change)="newMailGroup()">
				New Mailing list
			</mat-button-toggle>
		</mat-button-toggle-group>
	</div>
</div>
<router-outlet></router-outlet>
