.mat-form-field {
	display: block;
}
.login-container {
	height: 100vh;
	padding: 16px;
	background-color: #45897b;
}
mat-card {
	padding: 36px 42px 36px 42px;
}
button{
	margin: 32px auto
}

h2{
	font-weight: bold;
	color: #4e4d4e;
	text-align: center; 
	margin-top: 16px;
	font-size: 20px;
}

