<div class="login-container" fxLayoutAlign="center center">
	<mat-card fxFlex.lt-sm="100" fxFlex.gt-xs="380px">
		<img
			style="margin: 0 auto; display: block;"
			[src]="baseHrefInstance + '/assets/images/egpaf_logo_vertical.png'"
			width="96%"
			height="100%"
			alt="application_logo"
		/>
		<h2>
			Human Resource
		</h2>

		<mat-card-content>
			<form (ngSubmit)="login()" [formGroup]="loginForm">
				<mat-form-field>
					<mat-label>Email</mat-label>
					<input formControlName="email" matInput type="email" />
					<mat-error
						*ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
					>
						<span *ngIf="f.email.errors?.required">Email is required </span>
						<span *ngIf="f.email.errors?.email">This is not a valid Email</span>
						<span *ngIf="f.email.errors?.pattern && !f.email.errors?.email"
							>This is not a valid EGPAF email</span
						>
					</mat-error>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Password</mat-label>
					<input formControlName="password" matInput type="password" />
					<mat-error
						*ngIf="f.password.invalid && (f.password.errors?.dirty || f.password.touched)"
					>
						<span *ngIf="f.password.errors?.required"
							>Password is required</span
						>
					</mat-error>
				</mat-form-field>
				<button color="primary" fxFill type="submit" mat-raised-button>
					Login
				</button>
			</form>
		</mat-card-content>
		<div [hidden]="!isLoading">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</div>
	</mat-card>
</div>
