<div class="container" fxLayout="column" fxLayoutGap="16px">
	<div class="sub-container mat-elevation-z2">
		<h2>Assign Email Distribution Groups</h2>
		<form #tempForm="ngForm" [formGroup]="employeeForm">
			<!-- Name Section -->
			<div>Personal Details</div>
			<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
				<mat-form-field fxFlex>
					<mat-label>First Name</mat-label>
					<input
						matInput
						placeholder="First name"
						formControlName="firstName"
					/>
				</mat-form-field>
				<mat-form-field fxFlex>
					<mat-label>Last Name</mat-label>
					<input matInput placeholder="Last name" formControlName="lastName" />
				</mat-form-field>
			</div>

			<!-- Personal Details -->
			<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
				<mat-form-field fxFlex>
					<mat-label>Sex</mat-label>
					<input matInput formControlName="sex" placeholder="Sex" />
				</mat-form-field>

				<mat-form-field fxFlex>
					<mat-label>Date of birth</mat-label>
					<input
						matInput
						[matDatepicker]="dob"
						placeholder="Date of birth"
						formControlName="dateOfBirth"
					/>
					<mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
					<mat-datepicker #dob></mat-datepicker>
				</mat-form-field>
				<mat-form-field fxFlex>
					<mat-label>Email</mat-label>
					<input matInput placeholder="Email" formControlName="email" />
					<mat-error
						*ngIf="f.email.invalid && (f.email.dirty && f.email.touched)"
					>
						<span *ngIf="f.email.errors?.required">Email is required</span>
						<span *ngIf="f.email.errors?.email">This is not a valid email</span>
						<span *ngIf="f.email.errors?.pattern && !f.email.errors?.email"
							>This is not a valid EGPAF email</span
						>
					</mat-error>
				</mat-form-field>
				<mat-form-field fxFlex>
					<mat-label>Associate ID</mat-label>
					<input
						matInput
						placeholder="Associate ID"
						formControlName="associateId"
					/>
				</mat-form-field>
			</div>

			<!-- Contract Section -->
			<h3 class="spacer">Contract Details</h3>

			<div formGroupName="contract" fxLayout="column">
				<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
					<mat-form-field fxFlex>
						<mat-label>Position</mat-label>
						<input
							type="text"
							matInput
							placeholder="Position"
							formControlName="position"
						/>
					</mat-form-field>

					<mat-form-field fxFlex>
						<mat-label>Office</mat-label>
						<input
							type="text"
							matInput
							placeholder="Office"
							formControlName="office"
						/>
					</mat-form-field>

					<mat-form-field fxFlex>
						<mat-label>Department</mat-label>
						<input
							type="text"
							matInput
							placeholder="Department"
							formControlName="department"
						/>
					</mat-form-field>
				</div>

				<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
					<mat-form-field fxFlex="66%">
						<mat-date-range-input [rangePicker]="picker">
							<input
								matStartDate
								placeholder="Contract Start Date"
								formControlName="startDate"
							/>
							<input
								matEndDate
								placeholder="Contract End Date"
								formControlName="endDate"
							/>
						</mat-date-range-input>
						<mat-datepicker-toggle
							matSuffix
							[for]="picker"
						></mat-datepicker-toggle>

						<mat-date-range-picker
							disabled="true"
							#picker
						></mat-date-range-picker>
					</mat-form-field>

					<mat-form-field fxFlex>
						<mat-label>Status</mat-label>
						<input matInput formControlName="status" placeholder="Status" />
					</mat-form-field>
				</div>
			</div>
			<div fxLayout="row">
				<mat-form-field fxFlex>
					<mat-label>Distribution List</mat-label>
					<mat-chip-list placeholder="Distribution List" #chipList>
						<mat-chip
							*ngFor="let group of selectedGroups"
							removable
							(removed)="remove(group)"
						>
							{{group.groupName}}
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<input
							type="text"
							placeholder="New Group..."
							#groupInput
							formControlName="distributionList"
							[matAutocomplete]="auto"
							[matChipInputFor]="chipList"
							(matChipInputTokenEnd)="add($event)"
						/>
					</mat-chip-list>
					<mat-autocomplete
						#auto="matAutocomplete"
						[displayWith]="displayFn"
						(optionSelected)="selected($event)"
					>
						<mat-option *ngFor="let group of filteredGroups" [value]="group">
							{{group.groupName}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>

			<div>
				<button mat-button (click)="saveEmployee(tempForm)" type="button">
					Save
				</button>
			</div>
		</form>
	</div>

	<div
		*ngIf="newEmployees | async"
		class="sub-container mat-elevation-z2"
		fxLayout="row"
		fxLayoutGap="16px"
	>
		<div fxFlex="50%">
			<mat-action-list>
				<div matSubheader>New Employees</div>
				<div class="sub-container">
					<mat-form-field fxFlex="100%">
						<input
							placeholder="Filter"
							matInput
							type="search"
							[formControl]="filterNewEmployee"
						/>
					</mat-form-field>
				</div>

				<button
					mat-list-item
					(click)="fillForm(employee)"
					[class.clicked-row]="clickedRows.has(employee.associateId)"
					[id]="employee.associateId"
					*ngFor="let employee of paginatedEmployees"
				>
					<mat-icon matListIcon>person_add</mat-icon>
					<span matLine>{{employee.firstName}} {{employee.lastName}}</span>
					<span matLine>{{employee.email}}</span>
				</button>
			</mat-action-list>

			<mat-paginator
				[length]="newEmployees.length"
				[pageSize]="size"
				[pageIndex]="page"
				[pageSizeOptions]="[5, 10, newEmployees.length]"
				(page)="getEmployees($event)"
			>
			</mat-paginator>
		</div>
		<div fxLayout="column" fxFlex="50%">
			<mat-action-list>
				<div matSubheader>Saved Employees</div>

				<button mat-list-item *ngFor="let emp of itConfirmedEmployees">
					<mat-icon matListIcon>check</mat-icon>
					<span mat-line>
						{{emp.firstName}} {{emp.lastName}}
					</span>
					<span mat-line>
						{{emp.email}}
					</span>
				</button>
			</mat-action-list>

			<button
				mat-button
				[disabled]="(itConfirmedEmployees.size === 0)"
				(click)="onSubmit()"
			>
				Submit
			</button>
		</div>
	</div>
</div>
