<div class="container" fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="center">
	<mat-form-field>
		<mat-label>Search staff</mat-label>
		<input
			matInput
			type="search"
			panelWidth="auto"
			[formControl]="searchEmp"
			[matAutocomplete]="autoSearch"
			name="search"
		/>
		<!-- Check the multiline autocomplete thing -->
		<mat-autocomplete
			#autoSearch="matAutocomplete"
			[displayWith]="displayEmp"
			panelWidth="auto"
			(optionSelected)="selectedEmp($event)"
		>
			<mat-option *ngIf="isLoading">
				<mat-spinner diameter="50"></mat-spinner>
			</mat-option>
			<ng-container *ngIf="!isLoading">
				<mat-option
					*ngFor="let employee of employees"
					[value]="employee"
					style="
						min-height: 48px;
						line-height: 1.15;
						height: auto;
						padding: 8px 16px;
						white-space: normal;
					"
				>
					<span matLine>
						{{employee.firstName}} {{employee.lastName}}
					</span>
					<br />
					<small matLine>
						{{employee.contract.position.positionName}}
						({{employee.contract.office.officeName}})
					</small>
				</mat-option>
			</ng-container>
		</mat-autocomplete>
	</mat-form-field>
	<button mat-icon-button (click)="reRoute()">
		<mat-icon>search</mat-icon>
	</button>
</div>
