.container,
.sub-container {
	padding: 16px;
	border-radius: 6px;
}
.container {
	margin-top: 1.5rem;
}

button.mat-list-item {
	border-radius: 6px;
}

.sub-container > div {
	border-style: solid;
	border-radius: 6px;
	border-color: #45897b;
}

.sub-header {
	color: rgba(0, 0, 0, 0.54);
	font-weight: 500;
}
