<div
	class="container"
	fxLayout="column"
	fxFlexAlign="start start"
	fxLayoutGap="16px"
>
	<div
		*ngIf="supervisedEmployees | async"
		class="sub-container mat-elevation-z2"
		fxLayout="row"
		fxLayoutGap="16px"
	>
		<div
			[fxFlex]="isFirstLevelManager ? '50%' : '100%'"
			*ngIf="isFirstLevelManager | async"
		>
			<mat-action-list>
				<div matSubheader>Supervised Employees</div>
				<div class="sub-container">
					<mat-form-field fxFlex="100%">
						<input
							placeholder="Filter"
							matInput
							type="search"
							[formControl]="filterSupervisedEmployee"
						/>
					</mat-form-field>
				</div>

				<ng-container *ngFor="let supervisee of paginatedSubordinates">
					<button
						mat-list-item
						(click)="toPipManagement(supervisee)"
						[id]="supervisee.associateId"
						*ngIf="!supervisee.pip "
					>
						<mat-icon matListIcon>person_add</mat-icon>
						<span matLine
							>{{supervisee.firstName}} {{supervisee.lastName}}</span
						>
						<span matLine>{{supervisee.email}}</span>
					</button>
				</ng-container>
			</mat-action-list>

			<mat-paginator
				[length]="supervisedEmployees.length"
				[pageSize]="size"
				[pageIndex]="page"
				[pageSizeOptions]="[5, 10, supervisedEmployees.length]"
				(page)="getEmployees($event)"
			>
			</mat-paginator>
		</div>
		<div [fxFlex]="isFirstLevelManager? '0': '100%'">
			<mat-action-list>
				<div matSubheader>Employees on PIP</div>
				<ng-container *ngFor="let superviseeOnPip of paginatedSubordinates">
					<button
						mat-list-item
						(click)="toPipManagement(superviseeOnPip)"
						*ngIf="superviseeOnPip.onPip || (role === 'hr')"
					>
						<mat-icon matListIcon>person_add</mat-icon>
						<span matLine
							>{{superviseeOnPip.firstName}} {{superviseeOnPip.lastName}}</span
						>
						<span matLine>{{superviseeOnPip.email}}</span>
					</button>
				</ng-container>
			</mat-action-list>
		</div>
	</div>
</div>
