<div
	class="container"
	fxLayout.lt-sm="column"
	fxLayout.gt-sm="row"
	fxLayoutGap="6px"
	fxLayoutAlign="center"
>
	<mat-button-toggle-group #group="matButtonToggleGroup" vertical="false">
		<mat-button-toggle (change)="activateEmployeeResource(true)">
			Employee Management
		</mat-button-toggle>
		<mat-button-toggle (change)="activateResourceControls(true)">
			Resources Management
		</mat-button-toggle>
	</mat-button-toggle-group>
</div>

<div
	*ngIf="employeeMgmtActivated | async"
	class="sub-container"
	fxLayoutAlign="center center"
	fxLayoutGap="16px"
>
	<mat-button-toggle-group #hrGroup="matButtonToggleGroup" vertical="false">
		<mat-button-toggle (change)="addEmployee()">
			Add new employee
		</mat-button-toggle>
		<mat-button-toggle value="renew" (change)="employeeMgmt(hrGroup)">
			Renew contract
		</mat-button-toggle>

		<mat-button-toggle value="add-dependant" (change)="employeeMgmt(hrGroup)">
			Add dependant
		</mat-button-toggle>
		<mat-button-toggle value="edit" (change)="employeeMgmt(hrGroup)">
			Update personal details
		</mat-button-toggle>
	</mat-button-toggle-group>
</div>

<div
	*ngIf="resourceMgmtActivated | async"
	class="sub-container"
	fxLayoutAlign="center center"
	fxLayoutGap="16px"
>
	<mat-button-toggle-group
		#resourceGroup="matButtonToggleGroup"
		vertical="false"
	>
		<mat-button-toggle
			value="department"
			(change)="manageResources(resourceGroup)"
		>
			Departments
		</mat-button-toggle>
		<mat-button-toggle
			value="position"
			(change)="manageResources(resourceGroup)"
		>
			Positions
		</mat-button-toggle>

		<mat-button-toggle
			value="project"
			(change)="manageResources(resourceGroup)"
		>
			Projects
		</mat-button-toggle>
		<mat-button-toggle value="office" (change)="manageResources(resourceGroup)">
			Offices
		</mat-button-toggle>
	</mat-button-toggle-group>
</div>
<router-outlet></router-outlet>
