<div class="container" fxLayoutGap="16px" fxLayout="column">
  <h2>Filters</h2>

  <div
    class="border-class sub-container"
    fxLayout="column"
    fxLayoutAlign="center start"
  >
    <form
      #filterForm="ngForm"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="16px"
      [formGroup]="tableFiltersForm"
      (ngSubmit)="getData()"
    >
      <mat-form-field fxFlex>
        <mat-select
          formControlName="filterOption"
          placeholder="Select Filter"
          disableOptionCentering
          (selectionChange)="filteredOption($event)"
        >
          <mat-option
            *ngFor="let filter of filterOptions"
            [value]="filter.value"
            >{{ filter.label }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="300px">
        <mat-label
          [style]="
            filterForm.submitted &&
            (f.filterOption.value === 'newHire' ||
              f.filterOption.value === 'terminatedContracts')
              ? 'color:red'
              : ''
          "
        >
          Contracts Ending Duration
          <span
            *ngIf="
              filterForm.submitted &&
              (f.filterOption.value === 'newHire' ||
                f.filterOption.value === 'terminatedContracts')
            "
            >Is Required</span
          >
        </mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Contracts Ending From"
            formControlName="startDate"
          />
          <input matEndDate placeholder="To" formControlName="endDate" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon
            matDatepickerToggleIcon
            [color]="
              filterForm.submitted &&
              (f.filterOption.value === 'newHire' ||
                f.filterOption.value === 'terminatedContracts')
                ? 'warn'
                : ''
            "
            >today</mat-icon
          >
        </mat-datepicker-toggle>

        <mat-date-range-picker
          [disabled]="datePickerDisabled"
          #picker
        ></mat-date-range-picker>
      </mat-form-field>
      <button mat-stroked-button color="primary" fxFlex="init" type="submit">
        Apply Filters
      </button>
      <button
        mat-stroked-button
        fxFlex="init"
        (click)="clearFilters(filterForm)"
      >
        Clear Filters
      </button>
    </form>
  </div>
  <h2>Data Table</h2>

  <div fxLayout fxLayoutGap="8px">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        type="search"
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Filter"
        #input
      />
    </mat-form-field>
    <!-- To downlaod data from the table -->
    <button (click)="exporter.exportTable('xlsx')" mat-icon-button>
      <mat-icon>download</mat-icon>
    </button>
  </div>

  <!-- Mat data table => https://material.angular.io/components/table/overview -->
  <div class="mat-elevation-z2">
    <table
      mat-table
      matSort
      matTableExporter
      #exporter="matTableExporter"
      [dataSource]="dataSource"
      class="demo-table"
    >
      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let employee">{{ employee.firstName }}</td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let employee">{{ employee.lastName }}</td>
      </ng-container>

      <!-- Sex Column -->
      <ng-container matColumnDef="sex">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Sex</th>
        <td mat-cell *matCellDef="let employee">{{ employee.sex }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let employee">{{ employee.email }}</td>
      </ng-container>

      <!-- Start Date Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.contract.startDate | date }}
        </td>
      </ng-container>

      <!-- End Date Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>End Date</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.contract.endDate | date }}
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="positionName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.contract.position.positionName }}
        </td>
      </ng-container>

      <!-- Department Column -->
      <ng-container matColumnDef="departmentName">
        <th mat-header-cell *matHeaderCellDef>Department</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.contract.department.departmentName }}
        </td>
      </ng-container>

      <!-- Office Column -->
      <ng-container matColumnDef="officeName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Office</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.contract.office.officeName }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, dataSource.data.length]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
