.demo-table {
	width: 100%;
}

.mat-row .mat-cell {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}

.container,
.sub-container {
	padding: 16px;
}
.mat-form-field {
	font-size: 14px;
	width: 100%;
}

.mat-elevation-z2 {
	border-radius: 4px;
}

.border-class{
	border-color: #ebebeb;
	border-style: solid;
	border-radius: 6px;
	border-width: 2px;
}