<div class="container">
	<h2 style="margin-left: 10px;">Dashboard</h2>
	<div fxLayout="row wrap" fxLayoutGap="1px" fxLayoutAlign="flex-start">
		<div
			fxFlex.lt-md='100'
			fxFlex.md='0 1 calc(50% - 0.2rem)'
			fxFlex.gt-md="0 1 calc(33% - 0.2rem)"
		>
		<!-- All directives that start with fx* are from flexLayout -->
			<div fxFlex="99" fxLayout="column" class="mat-elevation-z2">
				<div fxFlexAlign="center center">
					<apx-chart
						[title]="empPerDepOptions?.title"
						[series]="empPerDepOptions?.series"
						[chart]="empPerDepOptions?.chart"
						[dataLabels]="empPerDepOptions?.dataLabels"
						[plotOptions]="empPerDepOptions?.plotOptions"
						[xaxis]="empPerDepOptions?.xaxis"
						[yaxis]="empPerDepOptions?.yaxis"
						[legend]="empPerDepOptions?.legend"
						[colors]="empPerDepOptions?.colors"
						[grid]="empPerDepOptions?.grid"
					></apx-chart>
				</div>
			</div>
		</div>
		<div
			fxFlex.lt-md='100'
			fxFlex.gt-md="0 1 calc(33% - 0.2rem)"
			fxFlex.lg='shrink'
			fxFlex.md='50'
		>
			<div fxFlex="100" fxLayout="column" class="mat-elevation-z2">
				<div style="width: 100%;" fxFlexAlign="center">
					<apx-chart
						[series]="genderOptions?.series"
						[chart]="genderOptions?.chart"
						[labels]="genderOptions?.labels"
						[responsive]="genderOptions?.responsive"
						[legend]="genderOptions?.legend"
						[title]="genderOptions?.title"
					></apx-chart>
				</div>
			</div>
		</div>
		<div

			fxFlex.lt-lg='100'
			fxFlex.gt-md="0 1 calc(33% - 0.2rem)"
			fxFlex.md="100"
		>
			<div fxFlex="99" class="mat-elevation-z2">
				<div fxFlexAlign="center center">
					<apx-chart
						[series]="endingContractsOptions?.series"
						[chart]="endingContractsOptions?.chart"
						[dataLabels]="endingContractsOptions?.dataLabels"
						[plotOptions]="endingContractsOptions?.plotOptions"
						[xaxis]="endingContractsOptions?.xaxis"
						[title]="endingContractsOptions?.title"
					></apx-chart>
				</div>
			</div>
		</div>
		<div fxFlex="100%">
			<div fxFlex="99" class="mat-elevation-z2">
				<div fxFlexAlign="center center">
					<apx-chart
						[series]="empPerDistOptions?.series"
						[chart]="empPerDistOptions?.chart"
						[dataLabels]="empPerDistOptions?.dataLabels"
						[plotOptions]="empPerDistOptions?.plotOptions"
						[legend]="empPerDistOptions?.legend"
						[colors]="empPerDistOptions?.colors"
						[title]="empPerDistOptions?.title"
					>
					</apx-chart>
				</div>
			</div>
		</div>

		<div fxFlex>
			<div fxFlex="99" class="mat-elevation-z2">
				<div fxFlexAlign="center center">
					<apx-chart
						[series]="empPerDisPerDepOptions?.series"
						[chart]="empPerDisPerDepOptions?.chart"
						[dataLabels]="empPerDisPerDepOptions?.dataLabels"
						[plotOptions]="empPerDisPerDepOptions?.plotOptions"
						[xaxis]="empPerDisPerDepOptions?.xaxis"
						[yaxis]="empPerDisPerDepOptions?.yaxis"
						[title]="empPerDisPerDepOptions?.title"
						[tooltip]="empPerDisPerDepOptions?.tooltip"
						[stroke]="empPerDisPerDepOptions?.stroke"
						[fill]="empPerDisPerDepOptions?.fill"
						[legend]="empPerDisPerDepOptions?.legend"
						[title]="empPerDisPerDepOptions?.title"
					></apx-chart>
				</div>
			</div>
		</div>
	</div>
</div>
