.container {
	padding: 16px;
}

.sub-container {
	height: 90vh;
}

.container > div > div {
	padding: 10px;
}

.container > div > div > div {
	border-radius: 4px;
}
.mat-elevation-z2 {
	padding: 16px;

}
