.container {
	padding: 16px;
	margin-top: 0.5rem;

}
.mat-elevation-z2, mat-horizontal-stepper {
	border-radius: 4px;
} 
.spacer {
	margin-top: 16px;
}
.demo-table {
	width: 100%;
}
h2 {
	padding: 16px 16px 0px;
}
