<div class="container">
  <div class="mat-elevation-z2">
    <h2>{{ title }}</h2>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="employeeForm" label="Fill out staff details">
        <form
          #empTemplateForm="ngForm"
          (ngSubmit)="submit(empTemplateForm)"
          [formGroup]="employeeForm"
        >
          <!-- Name Section -->
          <h3>Personal Details</h3>
          <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
            <mat-form-field fxFlex>
              <mat-label>First Name</mat-label>
              <input
                matInput
                placeholder="First name"
                formControlName="firstName"
              />
              <mat-error *ngIf="f.firstName.touched && f.firstName.dirty"
                >This field is required</mat-error
              >
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>Last Name</mat-label>
              <input
                matInput
                placeholder="Last name"
                formControlName="lastName"
              />
              <mat-error *ngIf="f.lastName.touched && f.lastName.dirty"
                >This field is required</mat-error
              >
            </mat-form-field>
          </div>

          <!-- Personal Details -->
          <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
            <mat-form-field fxFlex>
              <mat-label>Sex</mat-label>
              <mat-select formControlName="sex">
                <mat-option *ngFor="let sex of sexes" [value]="sex">
                  {{ sex }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.sex.touched && f.sex.dirty"
                >This field is required</mat-error
              >
            </mat-form-field>

            <mat-form-field fxFlex>
              <mat-label
                [style]="
                  empTemplateForm.submitted &&
                  !employeeForm.getRawValue().dateOfBirth
                    ? 'color:red'
                    : ''
                "
                >Date of birth
                <span
                  *ngIf="
                    empTemplateForm.submitted &&
                    !employeeForm.getRawValue().dateOfBirth
                  "
                  >is required</span
                >
              </mat-label>
              <input
                matInput
                [matDatepicker]="dob"
                placeholder="Date of birth"
                formControlName="dateOfBirth"
                [max]="maxBirthDate"
              />

              <mat-datepicker-toggle matSuffix [for]="dob">
                <mat-icon
                  [color]="
                    empTemplateForm.submitted &&
                    !employeeForm.getRawValue().dateOfBirth
                      ? 'warn'
                      : 'primary'
                  "
                  matDatepickerToggleIcon
                  class="mat-18"
                  >today</mat-icon
                >
              </mat-datepicker-toggle>
              <mat-datepicker disabled="false" #dob></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" />
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>Associate ID</mat-label>
              <input
                matInput
                placeholder="Associate ID"
                formControlName="associateId"
              />
              <mat-error *ngIf="f.associateId.touched && f.associateId.dirty"
                >This field is required</mat-error
              >
            </mat-form-field>
          </div>

          <!-- Contract Section -->
          <h3 class="spacer">Contract Details</h3>

          <div formGroupName="contract" fxLayout="column">
            <div
              fxLayout="row"
              fxLayoutGap="16px"
              fxLayoutAlign="center center"
            >
              <mat-form-field fxFlex>
                <mat-label>Position</mat-label>
                <input
                  type="text"
                  [matAutocomplete]="pAuto"
                  matInput
                  placeholder="Position"
                  formControlName="position"
                />
                <mat-error
                  *ngIf="
                    contractCtrls.position.touched &&
                    contractCtrls.position.dirty &&
                    contractCtrls.position.invalid
                  "
                >
                  <span *ngIf="contractCtrls.position.errors?.required"
                    >This field is required</span
                  >
                  <span
                    *ngIf="
                      contractCtrls.position.errors?.notAllowed &&
                      !contractCtrls.position.errors.required
                    "
                    >Select one of the options</span
                  >
                </mat-error>
                <mat-autocomplete
                  #pAuto="matAutocomplete"
                  [displayWith]="displayPosition"
                >
                  <mat-option *ngIf="positionLoading">
                    <mat-spinner diameter="50"></mat-spinner>
                  </mat-option>
                  <ng-container *ngIf="!positionLoading">
                    <mat-option
                      *ngFor="let position of positions"
                      [value]="position"
                    >
                      {{ position.positionName }}
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field fxFlex>
                <mat-label>Office</mat-label>
                <input
                  type="text"
                  [matAutocomplete]="oAuto"
                  matInput
                  placeholder="Office"
                  formControlName="office"
                />
                <mat-error
                  *ngIf="
                    contractCtrls.office.touched &&
                    contractCtrls.office.dirty &&
                    contractCtrls.office.invalid
                  "
                >
                  <span *ngIf="contractCtrls.office.errors.required"
                    >This field is required</span
                  >
                  <span
                    *ngIf="
                      contractCtrls.office.errors.notAllowed &&
                      !contractCtrls.office.errors.required
                    "
                    >Select one of the options</span
                  >
                </mat-error>
                <mat-autocomplete
                  #oAuto="matAutocomplete"
                  [displayWith]="displayOffice"
                >
                  <mat-option *ngIf="officeLoading">
                    <mat-spinner diameter="50"></mat-spinner>
                  </mat-option>
                  <ng-container *ngIf="!officeLoading">
                    <mat-option *ngFor="let office of offices" [value]="office">
                      {{ office.officeName }}
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field fxFlex>
                <mat-label>Department</mat-label>
                <input
                  type="text"
                  [matAutocomplete]="dAuto"
                  matInput
                  placeholder="Department"
                  formControlName="department"
                />
                <mat-error
                  *ngIf="
                    contractCtrls.department.touched &&
                    contractCtrls.department.dirty &&
                    contractCtrls.department.invalid
                  "
                >
                  <span *ngIf="contractCtrls.department.errors.required"
                    >This field is required</span
                  >
                  <span
                    *ngIf="
                      contractCtrls.department.errors.notAllowed &&
                      !contractCtrls.department.errors.required
                    "
                    >Select one of the options</span
                  >
                </mat-error>
                <mat-autocomplete
                  [displayWith]="displayDept"
                  #dAuto="matAutocomplete"
                >
                  <mat-option *ngIf="deptLoading">
                    <mat-spinner diameter="50"></mat-spinner>
                  </mat-option>
                  <ng-container *ngIf="!deptLoading">
                    <mat-option *ngFor="let dept of departments" [value]="dept">
                      {{ dept.departmentName }}
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div
              fxLayout="row"
              fxLayoutGap="16px"
              fxLayoutAlign="center center"
            >
              <mat-form-field fxFlex="66%">
                <mat-label
                  [style]="
                    empTemplateForm.submitted &&
                    !employeeForm.getRawValue().startDate
                      ? 'color:red'
                      : ''
                  "
                  >Contract duration
                  <span
                    *ngIf="
                      empTemplateForm.submitted &&
                      !employeeForm.getRawValue().startDate
                    "
                    >is required</span
                  ></mat-label
                >
                <mat-date-range-input
                  [max]="maxContractEndDate"
                  [rangePicker]="picker"
                >
                  <input
                    matStartDate
                    (dateChange)="setMaxDate($event)"
                    formControlName="startDate"
                  />
                  <input matEndDate formControlName="endDate" />
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon
                    [color]="
                      empTemplateForm.submitted &&
                      !employeeForm.getRawValue().dateOfBirth
                        ? 'warn'
                        : 'primary'
                    "
                    matDatepickerToggleIcon
                    >today</mat-icon
                  >
                </mat-datepicker-toggle>

                <mat-date-range-picker
                  disabled="false"
                  #picker
                ></mat-date-range-picker>
              </mat-form-field>

              <mat-form-field fxFlex>
                <mat-label>Status</mat-label>
                <input
                  type="text"
                  [matAutocomplete]="sAuto"
                  matInput
                  placeholder="Status"
                  formControlName="status"
                />
                <mat-error
                  *ngIf="
                    contractCtrls.status.touched &&
                    contractCtrls.status.dirty &&
                    contractCtrls.status.invalid
                  "
                >
                  <span *ngIf="contractCtrls.status.errors.required"
                    >This field is required</span
                  >
                  <span
                    *ngIf="
                      contractCtrls.status.errors.notAllowed &&
                      !contractCtrls.status.errors.required
                    "
                    >Select one of the options</span
                  >
                </mat-error>
                <mat-autocomplete
                  #sAuto="matAutocomplete"
                  [displayWith]="displayStatus"
                >
                  <mat-option *ngIf="statusLoading">
                    <mat-spinner diameter="50"></mat-spinner>
                  </mat-option>
                  <ng-container *ngIf="!statusLoading">
                    <mat-option
                      *ngFor="let status of statuses"
                      [value]="status"
                    >
                      {{ status.status }}
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <div>
            <button mat-button type="button" matStepperNext>Next</button>
            <button mat-button type="submit">Submit</button>
          </div>
        </form>
      </mat-step>
      <!-- #docregion label -->
      <mat-step [stepControl]="dependantForm" label="Add dependants">
        <!-- #enddocregion label -->
        <form
          #depTemplateForm="ngForm"
          (ngSubmit)="addDependant(depTemplateForm, $event)"
          [formGroup]="dependantForm"
        >
          <div fxLayout="column" fxLayoutGap="16px">
            <mat-form-field fxFlex="100%">
              <mat-label>First Name</mat-label>
              <input
                matInput
                placeholder="First name"
                formControlName="firstName"
              />
            </mat-form-field>
            <mat-form-field fxFlex="100%">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                placeholder="Last name"
                formControlName="lastName"
              />
            </mat-form-field>
            <mat-form-field fxFlex="100%">
              <mat-label
                [style]="
                  depTemplateForm.submitted &&
                  !dependantForm.getRawValue().dateOfBirth
                    ? 'color:red'
                    : ''
                "
                >Date of birth
                <span
                  *ngIf="
                    depTemplateForm.submitted &&
                    !dependantForm.getRawValue().dateOfBirth
                  "
                  >is required, click icon on the right</span
                >
              </mat-label>
              <input
                matInput
                [matDatepicker]="ddob"
                placeholder="Date of birth"
                formControlName="dateOfBirth"
              />
              <mat-datepicker-toggle matSuffix [for]="ddob">
                <mat-icon
                  [color]="
                    depTemplateForm.submitted &&
                    !dependantForm.getRawValue().dateOfBirth
                      ? 'warn'
                      : 'primary'
                  "
                  matDatepickerToggleIcon
                  >today</mat-icon
                >
              </mat-datepicker-toggle>
              <mat-datepicker disabled="false" #ddob></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="100%">
              <mat-label>National ID</mat-label>
              <input
                matInput
                placeholder="National ID"
                formControlName="nationalId"
              />
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>Relation Type</mat-label>
              <input
                type="text"
                [matAutocomplete]="typeAuto"
                matInput
                placeholder="Relation Type"
                formControlName="relationType"
              />
              <mat-error
                *ngIf="
                  dependantCtrls.relationType.touched &&
                  dependantCtrls.relationType.dirty &&
                  dependantCtrls.relationType.invalid
                "
              >
                <span *ngIf="dependantCtrls.relationType.errors.required"
                  >This field is required</span
                >
                <span
                  *ngIf="
                    dependantCtrls.relationType.errors.notAllowed &&
                    !dependantCtrls.relationType.errors.required
                  "
                  >You need to select one of the options</span
                >
              </mat-error>
              <mat-autocomplete
                #typeAuto="matAutocomplete"
                [displayWith]="displayRelationTypeFn"
              >
                <mat-option *ngIf="relationTypeLoading">
                  <mat-spinner diameter="50"></mat-spinner>
                </mat-option>
                <ng-container *ngIf="!relationTypeLoading">
                  <mat-option
                    *ngFor="let dependantRelation of dependantRelations"
                    [value]="dependantRelation"
                  >
                    {{ dependantRelation.relationType }}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div>
            <button mat-button type="button" matStepperPrevious>Back</button>
            <button mat-button [id]="addBtnId" type="submit">
              Add dependant
            </button>
            <button
              mat-button
              type="button"
              (click)="delDependants()"
              *ngIf="dataSource.data.length > 0"
            >
              Clear all dependants
            </button>

            <button mat-button (click)="submit(empTemplateForm)" type="button">
              Submit
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

  <div
    *ngIf="title.startsWith('Register') || title.includes('dependent')"
    style="padding-top: 16px"
  >
    <div class="mat-elevation-z2">
      <h2 style="padding: 16px 16px 0px">Upload file</h2>
      <div style="padding: 16px">
        <button mat-mini-fab color="primary" (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        {{ fileName || "No file uploaded yet" }}
      </div>
      <div style="padding: 16px">
        <button mat-button (click)="submitBulkEmployees()">Submit</button>
      </div>
    </div>
  </div>

  <input
    type="file"
    style="display: none"
    (change)="onFileSelected($event)"
    #fileUpload
  />

  <!-- List of dependants -->

  <div
    *ngIf="dataSource.data.length > 0"
    class="mat-elevation-z2"
    style="margin-top: 16px"
  >
    <table mat-table mat-sort [dataSource]="dataSource" class="demo-table">
      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let dependant">
          {{ dependant.firstName }}
        </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let dependant">
          {{ dependant.lastName }}
        </td>
      </ng-container>

      <!-- Date of Birth Column -->
      <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Date of Birth</th>
        <td mat-cell *matCellDef="let dependant">
          {{ dependant.dateOfBirth | date }}
        </td>
      </ng-container>

      <!-- National Id Column -->
      <ng-container matColumnDef="nationalId">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>National ID</th>
        <td mat-cell *matCellDef="let dependant">
          {{ dependant.nationalId }}
        </td>
      </ng-container>

      <!-- National Id Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let dependant">
          <button mat-icon-button (click)="editDependentInfo(dependant.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteDependent(dependant.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index"
      ></tr>
    </table>
  </div>
</div>
